# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
ENV/
env/
*.env
*.env.*

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage / Testing
.coverage
htmlcov/
.pytest_cache/

# Database
*.sqlite3
*.db
