asgiref==3.11.0
Django==5.2.10
django-cors-headers==4.9.0
django-environ==0.12.0
django-ratelimit==4.1.0
djangorestframework==3.16.1
gunicorn==24.1.1
packaging==26.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
